NEXT_PUBLIC_SUPABASE_URL=https://emnpspqobragzftzbrpf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtbnBzcHFvYnJhZ3pmdHpicnBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg4MDQ1NzQsImV4cCI6MjA4NDM4MDU3NH0.EGiIA2wq0zr5bduC4dDEYhNOv9N0xAvuYj6iEw6PNEc
NEXT_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtbnBzcHFvYnJhZ3pmdHpicnBmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODgwNDU3NCwiZXhwIjoyMDg0MzgwNTc0fQ.k5qflyTZyXod3yXLLWe_UptzUcS1WhMxWChfdF_Y7fM